<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- 清除所有继承的源，可选，但能保证环境干净 -->
		<clear />
		<!-- 添加官方 NuGet 源 -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<!-- 添加你的本地包源，路径是包含 .nupkg 文件的文件夹 -->
		<add key="LocalRevitGenSource" value="./RevitGen/bin/Release" />
	</packageSources>
</configuration>